/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* My Code Starts Here */
/* Global */
a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  background: #F5F6FA;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}

.container {
  margin: 0 auto;
  max-width: 1060px;
  padding: 0 20px;
}

header {
  background: #fff;
  margin-bottom: 20px;
  padding: 10px 0;
  width: 100%;
}

.header-inner {
  display: grid;
  grid-template-columns: auto auto;
  height: 50px;
  justify-content: space-between;
  align-content: center;
}

h1 {
  color: #F15B66;
  font-size: 1.7rem;
}

form.grid-item-3 input {
  border: 1px solid #F15B66;
  box-sizing: border-box;
  font-size: 1rem;
  height: 31px;
  padding: 5px 10px;
  width: 300px;
}

form.grid-item-3 button {
  border: 0;
  background: #F15B66;
  color: #fff;
  height: 33px;
  padding: 0 20px;
  position: relative;
  bottom: -1px;
}

.photo-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-content: center;
}

.photo-grid a {
  background: #fff;
  padding: 30px 20px 20px 20px;
  border-radius: 2px;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.3);
}

.photo-grid img {
  margin-bottom: 15px;
  width: 100%;
  height: 200px;
}

.photo-grid h3 {
  padding: 10px 0;
  font-size: 1.2rem;
}

.photo-grid figcaption {
  color: #848C96;
  font-size: 1.1rem;
}

/* Form Upload */
section.upload-photo {
  box-sizing: border-box;
  padding: 20px;
  margin: 30px 0;
  width: 100%;
  background: #fff;
}

section.upload-photo h3 {
  color: #F15B66;
  font-size: 2rem;
  text-align: center;
  padding: 20px;
}

section.upload-photo form {
  width: 50%;
  margin: 0 auto;
}

section.upload-photo input, textarea, section.upload-photo button {
  box-sizing: border-box;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 10px;
  display: block;
  width: 100%;
}

section.upload-photo input {
  font-family: 'Roboto Condensed', sans-serif;
  height: 33px;
}

label {
  font-family: 'Roboto Condensed', sans-serif;
  height: 33px;
  border: 1px solid #F15B66;
  font-size: 1rem;
  padding: 0 8px;
  color: #7A7A85;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 10px;
  display: block;
  width: 100%;
}

label i {
  padding: 0 10px 0 0;
}

#img-des {
  display: none;
}

section.upload-photo input, textarea {
  border: 1px solid #F15B66;
  font-size: 1rem;
}

textarea {
  font-family: 'Roboto Condensed', sans-serif;
}

section.upload-photo button {
  margin-top: 20px;
  border: 0;
  background: #F15B66;
  color: #fff;
  height: 40px;
  padding: 0 20px;
}

/* Footer */
footer {
  background: #fff;
  width: 100%;
  height: 60px;
  margin-top: 20px;
}

footer p {
  text-align: center;
  padding: 20px;
  font-size: 1.2rem;
}

@media(max-width: 700px)  {
  .header-inner {
    grid-template-columns: 1fr;
    height: auto;
  }
  h1, form {
    text-align: center;
    margin: 10px 0;
  }
  .photo-grid {
    grid-template-columns: 1fr;
  }
  .photo-grid img {
    width: 100%;
    height: auto;
  }
  section.upload-photo form {
    width: 80%;
  }
}

@media(max-width: 500px)  {
  .header-inner {
    grid-template-columns: 1fr;
    height: auto;
  }
  form.grid-item-3 input, form.grid-item-3 button {
    width: 100%;
    margin-bottom: 10px;
  }
}
